main p {
  text-align: center;
  margin: 0;
}

.time-wrapper {
  input {
    background: none;
    color: var(--primary-text-color);
    font-size: 2rem;
    opacity: 0.8;
    font-weight: bold;
    border: none;
    text-decoration: underline;
    padding: 1rem;
    text-align: center;
    cursor: pointer;
    max-width: 100%;
    width: 100%;
  }
}

.stamp-generate {
  color: var(--primary-button-text-color);
  cursor: pointer;
  box-shadow: none;
  font-size: 1.5rem;
  padding: 1rem;
  border: none;
  background-color: var(--primary-button-background-color);
  border-radius: var(--primary-button-border-radius);
  font-family: var(--decorative-font-family);
  margin: 2rem 1rem 0;

  &:focus,
  &:hover {
    background-color: var(--focused-primary-button-background-color);
  }
}

.stamp-link-wrapper {
  a {
    color: var(--secondary-button-text-color);
    text-decoration: none;
    border: 1px solid var(--secondary-button-border-color);
    border-radius: var(--secondary-button-border-radius);
    padding: 0.5rem;
  }
  .arrow-up {
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid var(--secondary-button-border-color);
    margin: 0.5rem auto;
  }
}

