.subhead {
}

.time-hour {
  text-align: center;
  font-size: 60px;
  opacity: 0.8;
  font-weight: bold;
}

.time-day {
  text-align: center;
  font-size: 2rem;
  opacity: 0.8;
  margin: 1rem;
}

.time-utc {
  text-align: center;
  margin: 1rem;
}

.display.arrow-up {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid rgba(255, 255, 255, 0.8);
  margin: 0.5rem auto 0;
}

@media screen and (min-width: 720px) {
  font-size: 120px;
}