.timezone-picker.timezone-picker {
  min-width: 250px;
  font-size: 1rem;
  font-family: 'Quicksand', sans-serif;

  .timezone-picker-select__control {
    background: none;
    border: 1px solid rgba(255, 255, 255, 0.8);
    border-radius: 3px;
    color: #fff;
    text-align: center;
    &::placeholder {
      color: #fff;
    }
  }
  .timezone-picker-select__single-value,
  .timezone-picker-select__input-container {
    color: #fff;
  }
  .timezone-picker-select__menu {
    background-color: #0896b9;
    color: #fff;
  }
  .timezone-picker-select__option--is-focused,
  .timezone-picker-select__option--is-selected {
    background-color: #fff;
    color: #0896b9;
  }
}
