@import "./tokens.css";

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  background-color: var(--primary-teal-color);
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--primary-background-color);
  font-family: var(--primary-font-family);
  color: var(--primary-text-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

